@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    color: #176B87;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #EEF5FF;
}
.navbar{
    width: auto;
    min-height: 50px;
    background-color: #B4D4FF;
    padding-left: 50px;
    padding-top: 20px;
}
.cta{
    height: 100vh;
    background-color: #EEF5FF;
    /* background-image: url("sky.jpeg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%; */
}
.cta-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cta-content img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.cta-content h1, p{
    text-align: center;
    top: 55%;
}
.con-profile{
    background-color: #B4D4FF;
    height: 100vh;
}
.con-profile h1{
    text-align: center;
    padding-top: 25px;
}
.profile{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.img-profile{
    width: 360px;
    height: 500px;
    border-radius: 5px;
    padding-right: 15px;
}
.profile-content{
    padding-left: 15px;
    width: 500px;
}
.profile-content p{
    text-align: justify;
}
.profile-content table{
    width: 100%;
}
.profile-content table tr td{
    padding-top: 2px;
    padding-bottom: 2px;
}
.achivement{
    height: 100vh;
    background-color: #EEF5FF;
}
.achivement h1{
    text-align: center;
    padding-top: 25px;
}
.list-of-achivement{
    padding-top: 40px;
}
.my-ach{
    width: 70%;
    height: auto;
    background-color: #86B6F6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
}
.my-ach:hover{
    background-color: #B4D4FF;
}
.con-project{
    height: auto;
    background-color: #B4D4FF;
    padding-bottom: 30px;
}
.con-project h1{
    text-align: center;
    padding-top: 25px;
}
.list-of-project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project{
    width: 305px;
    min-height: 230px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #EEF5FF;
    border-radius: 5px;
}
.project img{
    width: 300px;
    height: 150px;
    border-radius: 3px;
}
.project a{
    text-decoration: none;
    text-align: center;
}
.btn-project{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    background-color: #86B6F6;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 3px;
}
.btn-project:hover{
    background-color: #B4D4FF;
}
.footer{
    height: 250px;
    background-color: #EEF5FF;
    padding-left: 100px;
    padding-right: 100px;
}
.footer h2{
    padding-top: 25px;
}
.contact{
    padding-top: 10px;
}
.footer p{
    text-align: left;
    padding-top: 5px;
}